.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
  }

.caption {
    font-family: "Courier New", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000035;
    padding: 50px;
    margin-left: 100 px;
    margin-right: 100 px;
    color: #fafce0;
    position: relative;
    top: 0;
    transform: translateY(-10px);
    transition-duration: 0.2s;
    transition-property: opacity, transform;

}

.hide {
    opacity: 0;
    transform: translateY(-10px);
}

.show {
    opacity: 100;
    transform: translateY(0);
}